In [1]:
#Importamos pandas
import pandas as pd

In [2]:
#Ponemos todas las filas en un solo dataframe
for i in range(1,12):
    if i == 1:
        google_metadata = pd.read_json('metadata-sitios/'+str(i)+'.json',lines=True)
    else:
        google_metadata = pd.concat([google_metadata,pd.read_json('metadata-sitios/'+str(i)+'.json',lines=True)])
google_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3025011 entries, 0 to 275000
Data columns (total 15 columns):
 #   Column            Dtype
---  ------            -----
 0   name              object
 1   address           object
 2   gmap_id           object
 3   description       object
 4   latitude          float64
 5   longitude         float64
 6   category          object
 7   avg_rating        float64
 8   num_of_reviews    int64
 9   price             object
 10  hours             object
 11  MISC              object
 12  state             object
 13  relative_results  object
 14  url               object
dtypes: float64(3), int64(1), object(11)
memory usage: 369.3+ MB

In [3]:
#Como solo nos vamos a dedicar a los restaurants vamos a descartar todos los registros que tengan nulos bajo el campo category
google_metadata.dropna(subset='category',inplace=True)
google_metadata.reset_index(inplace=True)
google_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3007592 entries, 0 to 3007591
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   index             int64
 1   name              object
 2   address           object
 3   gmap_id           object
 4   description       object
 5   latitude          float64
 6   longitude         float64
 7   category          object
 8   avg_rating        float64
 9   num_of_reviews    int64
 10  price             object
 11  hours             object
 12  MISC              object
 13  state             object
 14  relative_results  object
 15  url               object
dtypes: float64(3), int64(2), object(11)
memory usage: 367.1+ MB

In [4]:
#Hallamos todos los que tengan restaurant entre sus categorías y obtenemos sus indices
restaurant_indexes = []
for i in range(google_metadata.shape[0]):
    try:
        for j in range(len(google_metadata['category'][i])):
            if google_metadata['category'][i][j].find('estaura')!=-1:
                restaurant_indexes.append(i)
                break
    except:
        print(i)
len(restaurant_indexes)

212014

In [5]:
#Filtramos los restaurants
restaurants = google_metadata[google_metadata.index.isin(restaurant_indexes)]
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 212014 entries, 2 to 3007587
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             212014 non-null  int64
 1   name              212014 non-null  object
 2   address           210956 non-null  object
 3   gmap_id           212014 non-null  object
 4   description       72392 non-null   object
 5   latitude          212014 non-null  float64
 6   longitude         212014 non-null  float64
 7   category          212014 non-null  object
 8   avg_rating        212014 non-null  float64
 9   num_of_reviews    212014 non-null  int64
 10  price             100000 non-null  object
 11  hours             189913 non-null  object
 12  MISC              210599 non-null  object
 13  state             190751 non-null  object
 14  relative_results  170957 non-null  object
 15  url               212014 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 27.5+ MB

In [7]:
#Quitamos las filas en las que se repita el id del restaurant
restaurants_wo_duplicates = restaurants.drop_duplicates(subset='gmap_id')
restaurants_wo_duplicates.reset_index(inplace=True)
restaurants_wo_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210953 entries, 0 to 210952
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   level_0           210953 non-null  int64
 1   index             210953 non-null  int64
 2   name              210953 non-null  object
 3   address           209900 non-null  object
 4   gmap_id           210953 non-null  object
 5   description       72174 non-null   object
 6   latitude          210953 non-null  float64
 7   longitude         210953 non-null  float64
 8   category          210953 non-null  object
 9   avg_rating        210953 non-null  float64
 10  num_of_reviews    210953 non-null  int64
 11  price             99738 non-null   object
 12  hours             189013 non-null  object
 13  MISC              209549 non-null  object
 14  state             189848 non-null  object
 15  relative_results  170277 non-null  object
 16  url               210953 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 27.4+ MB

In [19]:
#Descartamos las columnas que surgieron (level_0 e index)
restaurants_wo_duplicates.drop(columns=['level_0','index'],inplace=True)
restaurants_wo_duplicates.head()

C:\Users\larra\AppData\Local\Temp\ipykernel_4140\3102922536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_wo_duplicates.drop(columns=['level_0','index'],inplace=True)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,[Korean restaurant],4.4,18,None,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
1,Vons Chicken,"Vons Chicken, 12740 La Mirada Blvd, La Mirada,...",0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,None,33.916402,-118.010855,[Restaurant],4.5,18,None,"[[Thursday, 11AM–9:30PM], [Friday, 11AM–9:30PM...","{'Service options': ['Outdoor seating', 'Curbs...",Open ⋅ Closes 9:30PM,None,https://www.google.com/maps/place//data=!4m2!3...
2,"Sweet Rewards Gluten Free Bakery, LLC","Sweet Rewards Gluten Free Bakery, LLC, 85 NE D...",0x87ec235c54d25b31:0x3b75fb5facc602f,None,41.616079,-93.865487,"[Bakery, Health food restaurant]",4.7,21,None,"[[Thursday, 10AM–5:30PM], [Friday, 10AM–5:30PM...",{'Service options': ['Delivery']},Permanently closed,"[0x87ee974869295555:0x95f310d065882c9b, 0x87ec...",https://www.google.com/maps/place//data=!4m2!3...
3,Vivi Bubble Tea,"Vivi Bubble Tea, 701 S 5th St, Philadelphia, P...",0x89c6c89efcaed69d:0xded973f6033e7dba,"Bubble tea shop offering hot & cold versions, ...",39.940293,-75.150923,[Restaurant],4.0,8,None,None,"{'Service options': ['Delivery'], 'Amenities':...",None,"[0x89c6c62a40f4b733:0x73bfeec1898f272b, 0x89c6...",https://www.google.com/maps/place//data=!4m2!3...
4,Hale Pops,"Hale Pops, 55-370 Kamehameha Hwy, Laie, HI 96762",0x7c00456eecad3111:0x8217f9600c51f33,None,21.637796,-157.920714,[Restaurant],4.4,18,None,"[[Thursday, 11AM–8PM], [Friday, 11AM–8PM], [Sa...","{'Service options': ['Outdoor seating', 'Takeo...",Closed ⋅ Opens 11AM,"[0x7c00451360f80cf1:0x930291a38bab3132, 0x7c00...",https://www.google.com/maps/place//data=!4m2!3...

In [21]:
#Exportamos a json
restaurants_wo_duplicates.to_json('metadata-sitios/google_sitios.json')

In [28]:
#Filtramos con los gmaps de los restaurants y exportamos todos los datasets de reviews de los estados
estados = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Columbia',
           'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine']
for e in estados:
    for i in range(1,50):
        if i == 1:
            estado = pd.read_csv('reviews-estados/review-'+e+'/1.csv',sep=';')
        else:
            try:
                estado = pd.concat([estado,pd.read_csv('reviews-estados/review-'+e+'/'+str(i)+'.csv',sep=';')])
            except:
                print(i)
                break
    estado_filtrado = estado[estado['gmap_id'].isin(restaurants_wo_duplicates['gmap_id'].values)]
    estado_filtrado.to_csv('reviews-estados/'+e+'.csv',index=False,sep=';')

13
5
15
17
19
17
19
8
5
20
14
12
15
15
16
19
14
12
11
9

In [29]:
#Vemos cuantos registros nos quedaron
cant_registros = 0
for e in estados:
    estado = pd.read_csv('reviews-estados/'+e+'.csv')
    cant_registros += estado.shape[0]
    print(estado.shape[0])
cant_registros

173315
16697
319522
102428
768228
287411
134246
37346
17896
1019113
533879
53679
62118
504127
305541
114081
108766
144801
158046
47145

4908385