In [1]:
#Importamos pandas
import pandas as pd

In [16]:
google_data = pd.read_pickle("./restaurants_google.pkl")

In [5]:
alabama = pd.read_csv("./../Data/review-estados/Alabama.csv", sep=";")

In [17]:
google_data.head(5)

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Tipo,Atributos
0,0x80c2c778e3b73d33:0xbdc58662a4a97d49,San Soo Dang,Los Angeles,CA,90005,34.058092,-118.292130,Korean restaurant,"{'Service options': ['Takeout', 'Dine-in', 'De..."
1,0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,Vons Chicken,La Mirada,CA,90638,33.916402,-118.010855,Restaurant,"{'Service options': ['Outdoor seating', 'Curbs..."
2,0x87ec235c54d25b31:0x3b75fb5facc602f,"Sweet Rewards Gluten Free Bakery, LLC",Waukee,IA,50263,41.616079,-93.865487,"Bakery, Health food restaurant",{'Service options': ['Delivery']}
3,0x89c6c89efcaed69d:0xded973f6033e7dba,Vivi Bubble Tea,Philadelphia,PA,19147,39.940293,-75.150923,Restaurant,"{'Service options': ['Delivery'], 'Amenities':..."
4,0x7c00456eecad3111:0x8217f9600c51f33,Hale Pops,Laie,HI,96762,21.637796,-157.920714,Restaurant,"{'Service options': ['Outdoor seating', 'Takeo..."
5,0x88db4147b1d9e6f3:0x943dbd10a92ba1b1,Cape Seafood Shack,Cape Coral,FL,33990,26.641377,-81.940545,Restaurant,"{'Service options': ['Dine-in', 'Delivery'], '..."
6,0x88c2e4e34f1ed783:0x76c5da381c499d79,Fresh Point Country Buffet,Pinellas Park,FL,33782,27.867489,-82.702971,Buffet restaurant,"{'Service options': ['Delivery'], 'Accessibili..."
7,0x8644b59b8fe872e5:0x5e638876caa84cc3,Golden Castle,Austin,TX,78702,30.273985,-97.719564,Restaurant,"{'Service options': ['Delivery', 'Takeout', 'D..."
8,0x87528bb7ab938cb3:0x5ee996e34cc50715,Maverik Adventure's First Stop,South Salt Lake,UT,84115,40.698585,-111.906406,"Fuel supplier, Convenience store, Fast food re...",{'Accessibility': ['Wheelchair accessible entr...
9,0x4cb29c1dea53f29f:0xc606af14a0995094,Benny's Famous Fried Clams,Portland,ME,04101,43.643366,-70.272457,Restaurant,"{'Service options': ['Delivery'], 'Amenities':..."

In [18]:
alabama.head(5)

,user_id,name,time,rating,text,gmap_id
0,1.179759e+20,Anthony Roberts,1463443013514,4,"On the higher end of price for pizza, but they...",0x8889221157fb3455:0x5c125c40c3eccc2a
1,1.143165e+20,Jonathan Robert,1447623939865,3,"Food was ok, felt like the atmosphere as well ...",0x8889221157fb3455:0x5c125c40c3eccc2a
2,1.136326e+20,Brian Harvey,1469293549247,4,"Good food, service so so",0x8889221157fb3455:0x5c125c40c3eccc2a
3,1.076840e+20,Ashley Maddox,1442279219480,5,Love it,0x8889221157fb3455:0x5c125c40c3eccc2a
4,1.126036e+20,West Martin,1382634896130,5,Yum,0x8889221157fb3455:0x5c125c40c3eccc2a

In [19]:
alabama.shape

(173315, 6)

In [ ]:
filtrado_alabama = alabama[alabama['gmap_id'].isin(google_data['Id_Restaurant'])]

In [ ]:
#Importamos el json y expotamos a csv
for i in range(1,50):
    try:
        alabama = pd.read_json('reviews-estados/review-Alabama/'+str(i)+'.json',lines=True)     #Importamos el json
        alabama.drop(columns=['pics','resp'],inplace=True)              #Dropeamos las columnas que no vamos a usar
        for j in alabama.dropna(subset='text')[alabama.dropna(subset='text')['text'].str.contains('\n')].index:
            alabama['text'][j] = alabama['text'][j].replace('\n','')    #Quitamos estos caracteres raros
        alabama.to_csv('reviews-estados/review-Alabama/'+str(i)+'.csv',index=False,escapechar='\\',sep=';')     #Exportamos a csv
    except:
        print(str(i))
        break

In [73]:
#Vemos que sucedió con 3
alabama3 = pd.read_json('reviews-estados/review-Alabama/3.json',lines=True)
alabama3.drop(columns=['pics','resp'],inplace=True)
alabama3.head()

c:\Users\larra\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\dtypes\astype.py:189: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

,user_id,name,time,rating,text,gmap_id
0,1.119805e+20,Gilbert Atwood,1505594328774,3,None,0x888a33a3d8e3b045:0x3fd08b88e24cb141
1,1.053233e+20,Jennifer Hudgins,1516634565239,5,None,0x888a33a3d8e3b045:0x3fd08b88e24cb141
2,1.139788e+20,Andy Yarbrough,1597355911778,5,None,0x888a33a3d8e3b045:0x3fd08b88e24cb141
3,1.006838e+20,brenda howell,1571639422885,5,None,0x888a33a3d8e3b045:0x3fd08b88e24cb141
4,1.105958e+20,McKenzie Garrett,1553779136592,5,None,0x888a33a3d8e3b045:0x3fd08b88e24cb141

In [ ]:
#Observamos el campo de texto y vemos que hay varios registros con el caracter "\"
list(alabama3['text'].unique())

In [71]:
#Quitamos el caracter antes de transformar a csv y vemos que haya quedado todo bien
alabama3.dropna(subset='text')[alabama3.dropna(subset='text')['text'].str.contains('\n')]

,user_id,name,time,rating,text,gmap_id
237,1.170294e+20,Andrea McLemore,1598315653400,5,Best place for all your dance things\n!,0x8862659cb22eb0a5:0x1303c2166529d0ba
276,1.109663e+20,Steven Morris,1559303127554,3,My Momma paid the lady behind the waitress pod...,0x14f7b1e186493299:0x3a40febcfbfcadd4
392,1.008750e+20,Reese Stewart,1529516492479,4,Great location and atmosphere.\nDecor is pleas...,0x888c0b6ae3ccbd17:0x5d21e4ce3dc71291
411,1.118470e+20,Dylan Dunn,1528600444980,3,"Edit: The movie is an interesting idea, and I ...",0x888c0b6ae3ccbd17:0x5d21e4ce3dc71291
419,1.040877e+20,Eva Decker,1525225929292,5,"Love this place, or is a must try!\nParking in...",0x888c0b6ae3ccbd17:0x5d21e4ce3dc71291
...,...,...,...,...,...,...
149838,1.141201e+20,Sherry Rylander,1561906677387,5,"Voted Best Veterinary Clinic, Veterinarian and...",0x888a3a05f7ce99c3:0xec145c8d42596c02
149918,1.038391e+20,Donna Lockett,1521263567260,4,We had dinner there tonight and the food was g...,0x888c7aab3922bc87:0xed1a3cf709efc88f
149989,1.129366e+20,Drew C,1590447759266,1,Wings were way over-cooked. Could barely chew ...,0x888cf27f4b1900d1:0x1d63dfed7f8b0a03
149991,1.120635e+20,Jeffrey Chandler,1603222042762,1,3rd time I've ate there and threw up two ti\nm...,0x888cf27f4b1900d1:0x1d63dfed7f8b0a03
149998,1.012277e+20,Latasha Tucker,1544295451576,1,Ask for my toast to be buttered and toasted on...,0x888cf27f4b1900d1:0x1d63dfed7f8b0a03

In [80]:
#Comprobamos que este aun
alabama3_csv = pd.read_csv('reviews-estados/review-Alabama/3.csv',sep=';')
alabama3_csv.dropna(subset='text')[alabama3_csv.dropna(subset='text')['text'].str.contains('Best place for all your')]

,user_id,name,time,rating,text,gmap_id
237,1.170294e+20,Andrea McLemore,1598315653400,5,Best place for all your dance things!,0x8862659cb22eb0a5:0x1303c2166529d0ba

In [3]:
#Funcionó bien. Definimos función y la corremos con los otros datasets.
def jsonAcsv (lugar:str):
    for i in range(1,50):
        try:
            lugar_df = pd.read_json('reviews-estados/review-'+lugar+'/'+str(i)+'.json',lines=True)     #Importamos el json
            lugar_df.drop(columns=['pics','resp'],inplace=True)              #Dropeamos las columnas que no vamos a usar
            for j in lugar_df.dropna(subset='text')[lugar_df.dropna(subset='text')['text'].str.contains('\n')].index:
                lugar_df['text'][j] = lugar_df['text'][j].replace('\n','')    #Quitamos estos caracteres raros
            lugar_df.to_csv('reviews-estados/review-'+lugar+'/'+str(i)+'.csv',index=False,escapechar='\\',sep=';')     #Exportamos a csv
        except:
            print(str(i))
            break

In [ ]:
lugares = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','Florida','Columbia','Georgia',
           'Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan',
           'Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New_Hampshire','New_Jersey','New_Mexico', 'New_York',
           'North_Carolina','North_Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina','South_Dakota',
           'Tennessee', 'Texas', 'Utah','Vermont', 'Virginia', 'Washington', 'West_Virginia', 'Wisconsin', 'Wyoming']
for l in lugares:
    jsonAcsv(l)

Ahora se requiere normalizar los campos

In [ ]:
for l in lugares:
    lugar_df = pd.read_csv('./../Data/review-estados/'+l+'.csv',sep=";")     #Importamos el csv
    organizacion = pd.DataFrame(columns=['user_id','gmap_id','time','rating','text'],data=lugar_df) #Armamos dataframe con estos datos
    organizacion.rename(columns={'user_id':'Id_usuario','gmap_id':'Id_Restaurant','time':'Fecha','rating':'Rating','text':'Resena'},inplace=True) #Cambiamos nombre
    filtrado_nuevo = organizacion[organizacion['Id_Restaurant'].isin(google_data['Id_Restaurant'])]
    filtrado_nuevo.to_csv('./Data/'+l+'.csv',index=False,escapechar='\\',sep=';')     #Exportamos a csv

In [56]:
# Cargamos el dataframe con la data de duplicados
duplicados_google =  pd.read_pickle("./../Data/duplicados_google.pkl")

In [58]:
# Le quitamos la lista
duplicados_google['Cambiar'] = duplicados_google['Cambiar'].str.join(', ')

In [59]:
duplicados_google.head(5)

,Conservar,Cambiar
0,0x89c2f5d10275956b:0x678f175621275540,0x89c2f556a7d50035:0x1588f291f277f706
1,0x88d9b76485f1a105:0x92bc2888314d41f4,0x88d9b1e28cc6f4db:0x4dc90cfb7b4f01b7
2,0x88ded74449b67443:0x6f5ce881bf9883d0,0x88ded58b9368604d:0x4fb1d504b6ae7eee
3,0x89b60170d06531f1:0xcb85dc5e00da9e1f,0x89b60170d0e68baf:0x67a51b3fda1b9d5e
4,0x89c259a11e60603d:0x92f338b57ed650bb,0x89c2597fb6fffff9:0xd6e4a37d0c56f328

In [63]:
california = pd.read_csv("./../Data/review-estados/California.csv", sep=";")

In [65]:
california.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757194 entries, 0 to 757193
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Id_usuario     757194 non-null  float64
 1   Id_Restaurant  757194 non-null  object
 2   Fecha          757194 non-null  int64
 3   Rating         757194 non-null  int64
 4   Resena         436363 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 28.9+ MB

In [66]:
california[california['Id_Restaurant'].isin(duplicados_google['Cambiar'])]

,Id_usuario,Id_Restaurant,Fecha,Rating,Resena
153,1.142962e+20,0x80904101ce001281:0x76db23c5d22346ae,1541015934124,1,Absolutely the worst place to eat ever. They h...
154,1.170494e+20,0x80904101ce001281:0x76db23c5d22346ae,1573357628396,2,Service is slow and hit or miss here. Food is ...
155,1.090433e+20,0x80904101ce001281:0x76db23c5d22346ae,1524956643734,4,"Good food, fast service. Staff is usually frie..."
156,1.122708e+20,0x80904101ce001281:0x76db23c5d22346ae,1547737078681,4,"Just coffee, folks were nice and greeted us wi..."
157,1.004488e+20,0x80904101ce001281:0x76db23c5d22346ae,1557780491903,1,I DONT HAVE ANY IDEA IF THEY HAVE 100% HALAAL ...
...,...,...,...,...,...
740366,1.180431e+20,0x80dcd6cc1e74ed5d:0x508bae881d41fa70,1588213901314,1,NaN
740367,1.043530e+20,0x80dcd6cc1e74ed5d:0x508bae881d41fa70,1508403370763,4,NaN
740368,1.103260e+20,0x80dcd6cc1e74ed5d:0x508bae881d41fa70,1566091409924,5,NaN
740369,1.180973e+20,0x80dcd6cc1e74ed5d:0x508bae881d41fa70,1505012353240,4,NaN
740370,1.088168e+20,0x80dcd6cc1e74ed5d:0x508bae881d41fa70,1551223837060,5,NaN

In [67]:
reemplazar = dict(zip(duplicados_google['Cambiar'].map(str), duplicados_google['Conservar']))
california['Id_Restaurant'] = california['Id_Restaurant'].replace(reemplazar)

In [68]:
california[california['Id_Restaurant'].isin(duplicados_google['Cambiar'])]

Empty DataFrame
Columns: [Id_usuario, Id_Restaurant, Fecha, Rating, Resena]
Index: []

In [70]:
california.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757194 entries, 0 to 757193
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Id_usuario     757194 non-null  float64
 1   Id_Restaurant  757194 non-null  object
 2   Fecha          757194 non-null  int64
 3   Rating         757194 non-null  int64
 4   Resena         436363 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 28.9+ MB

In [71]:
lugares = ['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','Florida','Columbia','Georgia',
           'Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan',
           'Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New_Hampshire','New_Jersey','New_Mexico', 'New_York',
           'North_Carolina','North_Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode_Island','South_Carolina','South_Dakota',
           'Tennessee', 'Texas', 'Utah','Vermont', 'Virginia', 'Washington', 'West_Virginia', 'Wisconsin', 'Wyoming']
for l in lugares:
    lugar_df = pd.read_csv('./../Data/review-estados/'+l+'.csv',sep=";")     #Importamos el csv
    reemplazar = dict(zip(duplicados_google['Cambiar'].map(str), duplicados_google['Conservar']))
    lugar_df['Id_Restaurant'] = lugar_df['Id_Restaurant'].replace(reemplazar)
    nuevo = lugar_df[lugar_df['Id_Restaurant'].isin(duplicados_google['Cambiar'])]
    #duplicados = lugar_df[lugar_df['Id_Restaurant'].isin(duplicados_google['Cambiar']).replace(duplicados_google['Cambiar'])]
    #filtrado_nuevo.to_csv('./Data/'+l+'.csv',index=False,escapechar='\\',sep=';')     #Exportamos a csv
    lugar_df.to_csv('./Data/'+l+'.csv',index=False,escapechar='\\',sep=';')     #Exportamos a csv
    print(nuevo)

Empty DataFrame
Columns: [Id_usuario, Id_Restaurant, Fecha, Rating, Resena]
Index: []
Empty DataFrame
Columns: [Id_usuario, Id_Restaurant, Fecha, Rating, Resena]
Index: []

KeyboardInterrupt:

In [29]:
alabama = alabama[alabama['Id_Restaurant'].isin(duplicados_google['Cambiar']).replace(duplicados_google['Conservar'])]

In [30]:
alabama[alabama['Id_Restaurant'].isin(duplicados_google['Cambiar'])]

,Id_usuario,Id_Restaurant,Fecha,Rating,Resena
153,1.142962e+20,0x80904101ce001281:0x76db23c5d22346ae,1541015934124,1,Absolutely the worst place to eat ever. They h...
154,1.170494e+20,0x80904101ce001281:0x76db23c5d22346ae,1573357628396,2,Service is slow and hit or miss here. Food is ...
155,1.090433e+20,0x80904101ce001281:0x76db23c5d22346ae,1524956643734,4,"Good food, fast service. Staff is usually frie..."
156,1.122708e+20,0x80904101ce001281:0x76db23c5d22346ae,1547737078681,4,"Just coffee, folks were nice and greeted us wi..."
157,1.004488e+20,0x80904101ce001281:0x76db23c5d22346ae,1557780491903,1,I DONT HAVE ANY IDEA IF THEY HAVE 100% HALAAL ...
...,...,...,...,...,...
740366,1.180431e+20,0x80dcd6cc1e74ed5d:0x508bae881d41fa70,1588213901314,1,NaN
740367,1.043530e+20,0x80dcd6cc1e74ed5d:0x508bae881d41fa70,1508403370763,4,NaN
740368,1.103260e+20,0x80dcd6cc1e74ed5d:0x508bae881d41fa70,1566091409924,5,NaN
740369,1.180973e+20,0x80dcd6cc1e74ed5d:0x508bae881d41fa70,1505012353240,4,NaN
740370,1.088168e+20,0x80dcd6cc1e74ed5d:0x508bae881d41fa70,1551223837060,5,NaN

In [20]:
alabama.head()

,Id_usuario,Id_Restaurant,Fecha,Rating,Resena
305,1.059080e+20,0x888917be18ed0c39:0x769ff6e08d7b21ee,1628856646745,5,"Great food, but they need more help"
306,1.061645e+20,0x888917be18ed0c39:0x769ff6e08d7b21ee,1628360163866,1,This franchise has ruined the menu. None of th...
307,1.157861e+20,0x888917be18ed0c39:0x769ff6e08d7b21ee,1615334882295,1,Didn’t have my online order ready when I got t...
308,1.090446e+20,0x888917be18ed0c39:0x769ff6e08d7b21ee,1616594579277,5,Clean and great service
309,1.083742e+20,0x888917be18ed0c39:0x769ff6e08d7b21ee,1571607239013,1,So when you order the 2.99 spicy italian hows ...

1397
386
4240
720
8274
2678
2119
386
12000
295
5674
503
995
6675
3303
1431
1114
1605
2173
392
3170
3168

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.