In [1]:
#Importamos pandas
import pandas as pd
import glob
import pyodbc

In [ ]:
conn = pyodbc.connect(driver='SQL Server;',
                      host='34.170.174.91;',
                      database='grupo7;',
                      uid='henry;',
                      pwd='CERtificado14',
                      TrustServerCertificate='yes;')
cursor = conn.cursor()

In [4]:
#Importamos listado de negocios de yelp
business_yelp = pd.read_pickle('../Data/business.pkl')
business_yelp.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Observamos mas de cerca
business_yelp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150346 entries, 0 to 150345
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  business_id   5 non-null       object
 15  name          5 non-null       object
 16  address       5 non-null       object
 17  city          5 non-null       object
 18  state         5 non-null       object
 19  postal_code   5 non-null       object
 20  latitude      5 non-null       object
 21  longitude     5 non-null       object
 22  stars         5 non-null       object
 23  review_count  5 non-null       object
 24  is_open       5 non-null       object
 25  attributes    5 non-null       object
 26  categories    5 non-null       object
 27  hours         5 non-null       object
dtypes: object(28)
memory usage: 33.3+ MB

Vemos que se repiten las columnas y que el segundo set de campos solo tiene 5 valores no nulos. Vamos a observar con mayor detenimiento estos asÃ­ nos aseguramos que al descartar no se pierda informacion.

In [6]:
#Vemos los registros que tienen info en el segundo set de columnas que se repiten
business_yelp[business_yelp.index.isin(business_yelp.iloc[:,14:].dropna().index)]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
590,6_Zf2QsRHCH1RhbzA9inyw,Starbucks,8602 Hillsborough Ave,Tampa,LA,33615,27.99637,-82.580954,3.0,56,...,LA,33615,27.99637,-82.580954,3.0,56,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Coffee & Tea, Food","{'Monday': '5:30-21:0', 'Tuesday': '5:30-21:0'..."
613,Iipfa9Kaac9XH5Vo8GQwvg,Starbucks,5956 153 Avenue,Edmonton,PA,T5Y 2W1,53.616147,-113.432424,3.5,10,...,PA,T5Y 2W1,53.616147,-113.432424,3.5,10,1,"{'BusinessParking': '{'garage': False, 'street...","Coffee & Tea, Food","{'Monday': '5:30-22:0', 'Tuesday': '5:30-22:0'..."
978,oY6osC4Ch3PvguA7D1hh_w,Starbucks,1251 Route 130 S,Cinnaminson,AZ,08077,40.000157,-74.987313,4.5,7,...,AZ,08077,40.000157,-74.987313,4.5,7,1,"{'WiFi': 'u'free'', 'BusinessParking': '{'gara...","Coffee & Tea, Food","{'Monday': '5:30-20:0', 'Tuesday': '5:30-20:0'..."
1296,pxuMxh5oC7W-PDN9wwvozg,Starbucks,219 N Center St,Reno,FL,89501,39.527772,-119.812518,3.0,44,...,FL,89501,39.527772,-119.812518,3.0,44,0,"{'BikeParking': 'False', 'Caters': 'False', 'O...","Coffee & Tea, Food","{'Monday': '5:30-19:0', 'Tuesday': '5:30-19:0'..."
1543,lo2VbA7Lwzu3i23pQpmzlw,Starbucks,"1125 S Black Horse Pike, Space 575",Gloucester Township,NJ,08012,39.78403,-75.05207,3.0,15,...,NJ,08012,39.78403,-75.05207,3.0,15,1,"{'BikeParking': 'True', 'RestaurantsPriceRange...","Food, Coffee & Tea","{'Monday': '0:0-0:0', 'Tuesday': '10:30-20:0',..."

In [7]:
#Los datos son los mismos entonces tomamos las primeras 13 columnas.
business_yelp_filt = business_yelp.iloc[:,:14]
business_yelp_filt.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [8]:
#Tomamos solo los que tengan restaurant bajo category. Dropeamos primero entonces las categories nulas
business_yelp_filt.dropna(subset='categories',inplace=True)
business_yelp_filt.info()

C:\Users\isaac avelino\AppData\Local\Temp\ipykernel_11316\411425107.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  business_yelp_filt.dropna(subset='categories',inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150243 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150243 non-null  object
 1   name          150243 non-null  object
 2   address       150243 non-null  object
 3   city          150243 non-null  object
 4   state         150240 non-null  object
 5   postal_code   150243 non-null  object
 6   latitude      150243 non-null  object
 7   longitude     150243 non-null  object
 8   stars         150243 non-null  object
 9   review_count  150243 non-null  object
 10  is_open       150243 non-null  object
 11  attributes    136601 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: object(14)
memory usage: 17.2+ MB

In [9]:
#Filtramos unicamente los restaurants
restaurants_yelp = business_yelp_filt[business_yelp_filt['categories'].str.contains('estaura')]
restaurants_yelp.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,AZ,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,TN,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,MO,37207,36.208102,-86.76817,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,MO,33602,27.955269,-82.45632,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."

In [10]:
#Reseteamos el Ã­ndice y descartamos los valores duplicados de business_id
restaurants_yelp.drop_duplicates(subset='business_id',inplace=True)
restaurants_yelp.reset_index(inplace=True,drop=True)
restaurants_yelp.info()

C:\Users\isaac avelino\AppData\Local\Temp\ipykernel_11316\1640018983.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_yelp.drop_duplicates(subset='business_id',inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52286 entries, 0 to 52285
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   52286 non-null  object
 1   name          52286 non-null  object
 2   address       52286 non-null  object
 3   city          52286 non-null  object
 4   state         52286 non-null  object
 5   postal_code   52286 non-null  object
 6   latitude      52286 non-null  object
 7   longitude     52286 non-null  object
 8   stars         52286 non-null  object
 9   review_count  52286 non-null  object
 10  is_open       52286 non-null  object
 11  attributes    51720 non-null  object
 12  categories    52286 non-null  object
 13  hours         45007 non-null  object
dtypes: object(14)
memory usage: 5.6+ MB

De los 150.346 de registros, 52.286 son restaurants. Nos vamos a dedicar a limpiar y normalizar estos. Como primera medida vamos a normalizar los campos. Lo que buscamos es tener una tabla que contenga las siguientes columnas:

* Id_Restaurant
* Nombre
* Ciudad
* Estado
* CÃ³digo postal
* Latitud
* Longitud
* Tipo (categories)
* Atributos

En este caso es mÃ¡s fÃ¡cil que con el dataset de google. Solamente es necesario descartar algunos campos, cambiar el nombre y reordenarlos.

In [11]:
#Descartamos columnas que no vayamos a utilizar
restaurants_yelp.drop(columns=['address','stars','review_count','is_open','hours'],inplace=True)
restaurants_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52286 entries, 0 to 52285
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  52286 non-null  object
 1   name         52286 non-null  object
 2   city         52286 non-null  object
 3   state        52286 non-null  object
 4   postal_code  52286 non-null  object
 5   latitude     52286 non-null  object
 6   longitude    52286 non-null  object
 7   attributes   51720 non-null  object
 8   categories   52286 non-null  object
dtypes: object(9)
memory usage: 3.6+ MB

C:\Users\isaac avelino\AppData\Local\Temp\ipykernel_11316\1884915662.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_yelp.drop(columns=['address','stars','review_count','is_open','hours'],inplace=True)

In [12]:
#Renombramos
restaurants_yelp.rename(columns={'business_id':'Id_Restaurant','name':'Nombre','city':'Ciudad','state':'Estado','postal_code':'Cod_postal',
                                 'latitude':'Latitud','longitude':'Longitud','attributes':'Atributos','categories':'Tipo'},inplace=True)
restaurants_yelp.head()

C:\Users\isaac avelino\AppData\Local\Temp\ipykernel_11316\2868518572.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurants_yelp.rename(columns={'business_id':'Id_Restaurant','name':'Nombre','city':'Ciudad','state':'Estado','postal_code':'Cod_postal',

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Atributos,Tipo
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,CA,19107,39.955505,-75.155564,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,AZ,37015,36.269593,-87.058943,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,Affton,TN,63123,38.565165,-90.321087,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr..."
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,MO,37207,36.208102,-86.76817,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,..."
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,MO,33602,27.955269,-82.45632,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks"

In [13]:
#Reordenamos
restaurants_yelp = restaurants_yelp[['Id_Restaurant', 'Nombre', 'Ciudad', 'Estado', 'Cod_postal', 'Latitud',
                                    'Longitud','Tipo','Atributos']]
restaurants_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52286 entries, 0 to 52285
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id_Restaurant  52286 non-null  object
 1   Nombre         52286 non-null  object
 2   Ciudad         52286 non-null  object
 3   Estado         52286 non-null  object
 4   Cod_postal     52286 non-null  object
 5   Latitud        52286 non-null  object
 6   Longitud       52286 non-null  object
 7   Tipo           52286 non-null  object
 8   Atributos      51720 non-null  object
dtypes: object(9)
memory usage: 3.6+ MB

Vamos a inspeccionar las reseÃ±as de yelp. y ver de filtrarlas con las que correspondan unicamente a los restaurants.

In [60]:
data = pd.read_csv("../Data/reviews_yelp.csv", sep=";")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275001 entries, 0 to 275000
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              274994 non-null  object
 1   address           264939 non-null  object
 2   gmap_id           275001 non-null  object
 3   description       13155 non-null   object
 4   latitude          275001 non-null  float64
 5   longitude         275001 non-null  float64
 6   category          272740 non-null  object
 7   avg_rating        275001 non-null  float64
 8   num_of_reviews    275001 non-null  int64
 9   price             13450 non-null   object
 10  hours             192448 non-null  object
 11  MISC              194972 non-null  object
 12  state             195523 non-null  object
 13  relative_results  238771 non-null  object
 14  url               275001 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 31.5+ MB

In [7]:
#Especificamos el tamaÃ±o de los fragmentos
chunksize = 10000

In [8]:
#Abrimos el archivo JSON en modo lectura y creamos un objeto iterable
json_division = pd.read_json('../Data/review-yelp/review.json', lines=True, chunksize=chunksize)

In [ ]:
# Recorrer cada fragmento del archivo JSON y guardarlos en archivos separados
for i, df in enumerate(json_division):
    df.to_json('../Data/review-yelp/'+str(i+1)+'.json', orient='records', lines=True)

In [15]:
#Abrimos 1 de las partes y observamos
prueba = pd.read_json('../Data/review-yelp/1.json',lines=True)
prueba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    500000 non-null  object
 1   user_id      500000 non-null  object
 2   business_id  500000 non-null  object
 3   stars        500000 non-null  int64
 4   useful       500000 non-null  int64
 5   funny        500000 non-null  int64
 6   cool         500000 non-null  int64
 7   text         500000 non-null  object
 8   date         500000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 34.3+ MB

In [16]:
prueba.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [20]:
#Probamos filtrar
prueba_filtro = prueba[prueba['business_id'].isin(restaurants_yelp['Id_Restaurant'].values)]
prueba_filtro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346460 entries, 0 to 499999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    346460 non-null  object
 1   user_id      346460 non-null  object
 2   business_id  346460 non-null  object
 3   stars        346460 non-null  int64
 4   useful       346460 non-null  int64
 5   funny        346460 non-null  int64
 6   cool         346460 non-null  int64
 7   text         346460 non-null  object
 8   date         346460 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 26.4+ MB

In [23]:
review = pd.read_csv("../Data/review_final_yelp.csv", sep=";")

In [13]:
#Se vuelve un dataframe manejable. Importamos todos, lo filtramos y lo pasamos a csv
suma = 0
for i in range(1,15):
    review = pd.read_json('yelp/'+str(i)+'.json',lines=True)                                            #Importamos
    suma += review.shape[0]                                                                             #Contamos registros
    review_filtro = review[review['business_id'].isin(restaurants_yelp['Id_Restaurant'].values)]        #Filtramos
    review_filtro.to_csv('yelp/'+str(i)+'.csv',sep=';',index=False,escapechar='\\')                     #Exportamos a csv
suma

6990280

Hay 6.990.280 reviews. Vamos a ver, luego de haber filtrado, cuantas reviews quedan.

In [14]:
for i in range(1,15):
    if i == 1:
        reviews = pd.read_csv('yelp/'+str(i)+'.csv',sep=';',escapechar='\\')                                         #Importamos
    else:
        reviews = pd.concat([reviews,pd.read_csv('yelp/'+str(i)+'.csv',sep=';',escapechar='\\')],ignore_index=True)   #Concatenamos
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4724684 entries, 0 to 4724683
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         object
dtypes: int64(4), object(5)
memory usage: 324.4+ MB

In [15]:
#Vemos cuantos restaurants
reviews['business_id'].unique().size

52286

In [17]:
#Vemos cuantos usuarios
reviews['user_id'].unique().size

1446031

Vemos que se redujo considerablemente el volumen. En resumen tenemos:

* 4.724.684 reviews
* 52.286 restaurants
* 1.446.031 usuarios

A continuaciÃ³n normalizamos la tabla de review para que quede con los siguientes campos:

* Id_usuario
* Id_Restaurant
* Rating
* ReseÃ±a
* Timestamp

In [26]:
#Descartamos los campos que no se utilizan
reviews.drop(columns=['review_id','useful','funny','cool'],inplace=True)
reviews.info()

NameError: name 'reviews' is not defined

In [19]:
#Cambiamos el nombre
reviews.rename(columns={'user_id':'Id_Usuario','business_id':'Id_Restaurant','stars':'Rating','text':'ReseÃ±a', 'date':'Fecha'},
               inplace=True)
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4724684 entries, 0 to 4724683
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   Id_Usuario     object
 1   Id_Restaurant  object
 2   Rating         int64
 3   ReseÃ±a         object
 4   Fecha          object
dtypes: int64(1), object(4)
memory usage: 180.2+ MB

In [35]:
#Vemos los valores nulos
reviews.isna().value_counts()

Id_usuario  Id_Restaurant  Fecha  Rating  Resena
False       False          False  False   False     4724684
dtype: int64

In [38]:
#DEscartamos los valores repetidos
reviews.drop_duplicates(inplace=True)
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4724680 entries, 0 to 4724683
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   Id_usuario     object
 1   Id_Restaurant  object
 2   Fecha          object
 3   Rating         int64
 4   Resena         object
dtypes: int64(1), object(4)
memory usage: 216.3+ MB

C:\Users\isaac avelino\AppData\Local\Temp\ipykernel_11316\2649638593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews.drop_duplicates(inplace=True)

In [39]:
#Solo 4 valores repetidos. Vemos si tomando todos los campos menos la fecha se repiten mÃ¡s valores
reviews.drop_duplicates(subset=['Id_usuario','Id_Restaurant','Rating','Resena']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4716474 entries, 0 to 4724683
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   Id_usuario     object
 1   Id_Restaurant  object
 2   Fecha          object
 3   Rating         int64
 4   Resena         object
dtypes: int64(1), object(4)
memory usage: 215.9+ MB

In [40]:
#Si cambian. Los descartamos tambiÃ©n y reseteamos el Ã­ndice
reviews.drop_duplicates(subset=['Id_usuario','Id_Restaurant','Rating','Resena'],inplace=True)
reviews.reset_index(inplace=True,drop=True)
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4716474 entries, 0 to 4716473
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   Id_usuario     object
 1   Id_Restaurant  object
 2   Fecha          object
 3   Rating         int64
 4   Resena         object
dtypes: int64(1), object(4)
memory usage: 179.9+ MB

C:\Users\isaac avelino\AppData\Local\Temp\ipykernel_11316\496690598.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews.drop_duplicates(subset=['Id_usuario','Id_Restaurant','Rating','Resena'],inplace=True)

Se redujeron alrededor de 8.000 registros. Vamos a continuar buscando los valores duplicados de los negocios.

In [41]:
#Vamos a observar si hay negocios que se encuentren duplicados.
#Es decir que tengan distinto Id (ya se descartÃ³ antes los de igual Id) pero coincidan nombre y ubicaciÃ³n.
duplicados_yelp = restaurants_yelp[restaurants_yelp.duplicated(subset=['Nombre','Cod_postal'],keep=False)].sort_values(by='Nombre')
duplicados_yelp.head()

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Tipo,Atributos
10864,x67huqR9qbjoodRBu3KWfg,1st NE International Market,Philadelphia,MO,19149,40.041595,-75.055165,"Cantonese, Grocery, Food, Chinese, Restaurants...","{'BikeParking': 'False', 'GoodForMeal': '{'des..."
3615,jOhRFAJYBHU3chGwg1e4_A,1st NE International Market,Philadelphia,TN,19149,40.041594,-75.054799,"Food, Grocery, Restaurants, International Groc...","{'RestaurantsDelivery': 'False', 'RestaurantsP..."
25539,CyKEqW5UjhPB2pMEPrUsYg,A King's Cafe,Philadelphia,NV,19141,40.04756,-75.150719,"Cafes, Restaurants","{'BusinessParking': '{'garage': False, 'street..."
17723,RGjzDIO6HlOU3Uo4IqVAww,A King's Cafe,Philadelphia,LA,19141,40.047863,-75.14398,"Chicken Wings, Restaurants, Seafood, Breakfast...","{'RestaurantsTakeOut': 'True', 'RestaurantsDel..."
33920,-HMqisHgmwr4k8zwT3tp5Q,Amber Indian Restaurant,Indianapolis,MO,46250,39.904832,-86.065988,"Restaurants, Desserts, Indian, Food, Pakistani","{'HasTV': 'True', 'Alcohol': 'u'beer_and_wine'..."

In [42]:
#Vemos que hay y tienen la misma ubicaciÃ³n. Vemos cuantos son.
duplicados_yelp.reset_index(inplace=True)
duplicados_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2613 entries, 0 to 2612
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          2613 non-null   int64
 1   Id_Restaurant  2613 non-null   object
 2   Nombre         2613 non-null   object
 3   Ciudad         2613 non-null   object
 4   Estado         2613 non-null   object
 5   Cod_postal     2613 non-null   object
 6   Latitud        2613 non-null   object
 7   Longitud       2613 non-null   object
 8   Tipo           2613 non-null   object
 9   Atributos      2596 non-null   object
dtypes: int64(1), object(9)
memory usage: 204.3+ KB

In [43]:
#Vemos cuantos negocios son
negocios_duplicados_yelp = duplicados_yelp.drop_duplicates(subset=['Nombre','Cod_postal'])
negocios_duplicados_yelp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1194 entries, 0 to 2611
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          1194 non-null   int64
 1   Id_Restaurant  1194 non-null   object
 2   Nombre         1194 non-null   object
 3   Ciudad         1194 non-null   object
 4   Estado         1194 non-null   object
 5   Cod_postal     1194 non-null   object
 6   Latitud        1194 non-null   object
 7   Longitud       1194 non-null   object
 8   Tipo           1194 non-null   object
 9   Atributos      1187 non-null   object
dtypes: int64(1), object(9)
memory usage: 102.6+ KB

Vamos a quedarnos con uno de los duplicados y descartar los otros. Sin embargo, vamos a cambiar primero el id de las reseÃ±as asÃ­ no perdemos informaciÃ³n.

In [44]:
#Tomamos los ids a conservar y los que se van a cambiar
lista_duplicados = []
for n in negocios_duplicados_yelp['Id_Restaurant'].values:
    aux = []
    nombre = negocios_duplicados_yelp[negocios_duplicados_yelp['Id_Restaurant']==n]['Nombre'].values[0]
    cod_postal = negocios_duplicados_yelp[negocios_duplicados_yelp['Id_Restaurant']==n]['Cod_postal'].values[0]
    for d in range(duplicados_yelp.shape[0]):
        if (duplicados_yelp['Nombre'][d] == nombre) and (duplicados_yelp['Cod_postal'][d] == cod_postal) and (duplicados_yelp['Id_Restaurant'][d] != n):
            aux.append(duplicados_yelp['Id_Restaurant'][d])
    lista_duplicados.append([n,aux])

In [45]:
#Armammos dataframe
duplicados_yelp_df = pd.DataFrame(data=lista_duplicados,columns=['Conservar','Cambiar'])
duplicados_yelp_df.head()

                Conservar                   Cambiar
0  x67huqR9qbjoodRBu3KWfg  [jOhRFAJYBHU3chGwg1e4_A]
1  CyKEqW5UjhPB2pMEPrUsYg  [RGjzDIO6HlOU3Uo4IqVAww]
2  -HMqisHgmwr4k8zwT3tp5Q  [_ElX5QsAd-CXxlW0vt8Ftw]
3  HWnfpi2vXDTNGTCSFd97PQ  [mzAFaxDgKEVhINViBlyWvA]
4  DcRfabRzYkddMEUFyPMBgw  [XkZwD46WcsAlbpg1inwbLQ]

In [46]:
#Juntamos todos los ids que hay que modificar
ids_modificar = []
for i in range(duplicados_yelp_df.shape[0]):
    ids_modificar+=duplicados_yelp_df['Cambiar'][i]
ids_modificar

['jOhRFAJYBHU3chGwg1e4_A',
 'RGjzDIO6HlOU3Uo4IqVAww',
 '_ElX5QsAd-CXxlW0vt8Ftw',
 'mzAFaxDgKEVhINViBlyWvA',
 'XkZwD46WcsAlbpg1inwbLQ',
 'jgmOySDa3Rn23l7uiS2JHw',
 'FecYanGjiNU9pBaGPRp4IA',
 '5bxcieJG45A2Y4X8jZD05Q',
 's-fFF-5v6kwuN3YZ0kS-Xw',
 'Sz4N01C2R3JCKU4cznr2Zw',
 '-NH2sUTm3EJsbBEHdA4BSg',
 'wssvWdYedb47x16QfuJ-ug',
 'hOIKRzi-BQK4HRo2pl9bFg',
 '3NogWpnW5gjivjEZ-wL9Wg',
 'rqKCzXC272dWC0pr-D03SA',
 'jcR-r84KHMwu_3AqdZZ7ew',
 'q493DBsbxwrdo_dexLmSIA',
 'UVw6-8eNsp1hLOk5VrjIKQ',
 'NLl8h7OgAmqdSJJbzmN7kg',
 'WiU5xLpdyCcDNZixMNf4kQ',
 '-lCAkuXEbXVO0gG4yNupZw',
 'HLh0we-7JQ322p6a7z5hAA',
 '_Q3XmBesceFqn9Dk-w6tlA',
 'xJ3aziMabFEjF8X0kvPfLw',
 '-AanHawaDlzWHQjrqRRWig',
 'zYnYOzhlG9jPoX9ANecEUw',
 'XF7qNhRJktAfLoH5GP4tCw',
 'vDVTecHXPkKp9OkVXX_boA',
 'itivOsiSQdmn8GVKuvi0fA',
 'zu4EL-HsTCJkzn1FJrpMiw',
 '-nk14DuVMog4IeCPNF1JpA',
 'gNMAEldBHzkUSKNS9adw0g',
 'iA0csH3u6Ug1x1Pt0-El-A',
 'Lw_8MDDspsumhB37n74nNw',
 'rFj1un-9Eg-3FYGarc1S_A',
 'ncJhOVhqqAxZpg74Allklw',
 'sTuDLAMOxhhWQAsKsbGioQ',
 '4yKBQiY6KCJmZVMSES77Kg',
 'b4f0wK1gqvNHy4x-ASlalg',
 'LXP_k2qtj6ndzR8tQM4-1A',
 'Xn-1FWxwL7to28HwmrX3rQ',
 'eIFQYQXu0Rv5A9X95nkUcw',
 'fDPvDKfLflcalAEA_yUiJg',
 'vR1fVrOGbQKETv-AlpeKTQ',
 'cQrpOysPJFa3B_WEHsNSqQ',
 'NEt1b-IlfynU1oABeKbwYA',
 '-ecTJMgeeLbx4UJPfK7lag',
 'v0108O4P6Io3NMStAc-Uhg',
 'FXZtc9d6x2Y2vg7J8tikEg',
 'U38qWRzipCn6p4MEu1daXA',
 'CW8J8eqHRErzNPROYDvSyQ',
 'D76aKaw5u9DGBYwJdu_5ug',
 'kGhT5VRj2ZBSdXJl6qkLdw',
 '6PLn64ysk0rcTVG3o80PSQ',
 'Ic7DyKReZONn5IXUSB42Ew',
 'nUVD_26CwkhJCAxYkWjfBA',
 'JUiwOZynj3Wid_spJoxUug',
 'K9cn-DrPEEXse1s1n-6mMw',
 'AqOSpSqdocwtIjqTECW2ng',
 'Trbe4JX-oLHrrVVPcv0wog',
 'EwFc_BRT3XZOJr5pQZAbkw',
 'cbICYefFAJH8LokJFcGXPA',
 'NI3or7gqS-lFOqWDARgk3g',
 'LegoBNSNlrKG8VIKr_UVQA',
 'gGdidUuXsOoLnNiw60v8Kg',
 '48s0jy9g6XneTAS2LL8Ytg',
 'NZDTAXWI_hiFWO_kqNLieg',
 'eXKvw6qTDoCHQxOG91FfhQ',
 'aWrIkkuO04M-f2cHfjwnHA',
 'diqXZ9CBFlIHW7i9UHefhw',
 'ZVClB0Lh52MMdaVlngFhng',
 'ElaqBeWYxe5lspoBBNtemQ',
 'emoqtx8dYvmHrgK2mOD4OA',
 'umWJbr43SlRhWtYlANMOxA',
 'uT9nZ29p2j_YedmCZ7kLPw',
 'Yw32q8U9M3HEtRnt-K-0FQ',
 'kOSRvn8QdWcE5x4dYxSkpw',
 'KL1xQGSxC5OmpZyq0PqjXg',
 'rG2SnHvwq4VGlnHQQkxiug',
 '6EskDOVYwOFPYHYt7SY-DQ',
 'ktX5tWhZUc_sM5AVDAjRig',
 'CREJoOA96P4ggzJCBhi5Xw',
 '7I0mflqeGPu1NjKZ4iArbg',
 'lAsjklWvcamiL7en-KwIIw',
 '5h9U6Z_OLXLHZD8P8Ceuag',
 '9u4kwXPKeYaNxKcvy1mfTQ',
 'tXfif7LQEuTJDkgfITi0-Q',
 'ozUYURLHWygWafVlNnRtBQ',
 'CejoKfjo6U4_wzhwWQerWg',
 'o8U2DbjKpXrvZdl4i-l4YQ',
 'kvE2BJp9Rc8irEnbjnlNHA',
 'AjEg3RzLzQwv4xPPzTc6wQ',
 'kzmJfAMQNtinxlJRQCIWuw',
 'YJn2bovQSKI276sOjvqIZw',
 'kLLbQd_TYH4B2Y8_VOGikw',
 'wqR2a0C9j-V823lGL5eeGg',
 '8KOG5ID8milC01QSJe_maA',
 'Hx8DHtPTRq-Qa98fRCTofA',
 '7LHtG34gI4kVOuCiUgTruQ',
 'dS1kSy0qBqi2zP6WkHVO4g',
 'sScHtSXYOvlAdaup1kQfNw',
 'uJBnnlqKIkfMq1H0RhfhJg',
 '9bAYdUprc7jSNv_zY5C6cA',
 'zMQmQ4bFmW1l0AaPS9yu8w',
 '59j7DxoQ304a3NV-u2rieg',
 'rPXuIXd4S4XQABrU1dfSXA',
 'KFk7PO8X2ApsrIGXh15AOg',
 'oN54gF9SEM9seVSCsDiUvA',
 '0JX2lHSYOr18lwZqZ_BIWQ',
 '629Gh-kr6XPp-Ytpc2FfRA',
 'uc1u8XwLEeP9xLW7jGGGAA',
 'Q3ZmeBnP96bqbxevkOT7Nw',
 '-v0JE4wW_4Xs6C3WT2XgDA',
 'PfVsRw4DYaM-ZYL53ElDOg',
 'YPOvU0iB6SCY1y3QRT5HOQ',
 'dYfBaOaV6bD9qM6atdMfzw',
 'Hez0sedVgyIJ3kee1U-3Eg',
 'zcTJyMpHa3m9VXwTOAjmTg',
 'mUakb7OfnYsvKMykl9qxRw',
 'HtcbWr67gr3QObcASst5OQ',
 'c9k5dfDJZ2VRR8KyMB2CZQ',
 'Wh2IssalVTaaSnspVuINzg',
 'L3QX19EWlkS-clS68Boydg',
 'zGbycl5wGZXkbtq4c6-qYw',
 'g04aAvgol7IW8buqSbT4xA',
 'BX3LLonrLLLfVX-tNrE7yA',
 'ZnXfiYj1Mq7lf5az2Ir8Gg',
 'NSYywiRY6xQvSkKnBIOkiQ',
 'E3WUDYEvCVMplIFMgeN1xw',
 '3VrqxApK-iwfRohlAuIt0g',
 'IraOwoll2n6VPhVb4wgSNg',
 'roEYFfjB0BsQc8-IsvZxfQ',
 'rR15w7PgIMFs9l2W_MUH2g',
 'UFa2v-FmElnYeD4tnMz5aQ',
 't2vRcqKj0CifbKrCYeZx9A',
 'PsHCFoEv4X7LdxJGGfOsOg',
 'AmS4jlZqK09tCVfzULubHA',
 'sjl5yn2tqswhZm33L4xImA',
 'UUOOjXAyk7dBpwTtKCnwyg',
 'ezxOH2LYjWqW9DF-mnbCEg',
 'wsCC1BQEExpYZ6BnzUizQw',
 'q-Nck7_FGSrpBhBxIrC4_w',
 'n2hE4oEDNy96dgac17PGSA',
 'kJmLnhjOzvk9FQYC7OELeg',
 'yO3C7jR9U95EHg5lPXNUGQ',
 'qI0yhw9R1isxkBtO1JpBbA',
 'La_MSvvYGXg8iEhYJ8t27w',
 'Q2x0zGCezFhVvgqbffxeNw',
 'LeSTO9HFrXpsr_RV_GuLTQ',
 'SsDtWUuu8IK1jNmxTRQvGg',
 'OJPfEZdSe20VF4pVaKzOFA',
 'JEP87uAYqvXzwubKRiDr2Q',
 'waV7CZw241FjHzOFKh2Juw',
 'nvgYnJgC_xsIKdpl6Zvb0A',
 '0j_SHG_LvTVoiDi2s3BpFw',
 '3AKqb1zI6K8NDwZ_XdVVOQ',
 'UJKQ4xBfOj5En_r_LnVbLA',
 'dqhYXtw1P--1MpxBKQMk-g',
 'rBpB66tz_BV_QIA8w19HDg',
 'aNv0z1KPeABeDTt0fuDYhw',
 'CflykRQLCJNUW3tVWmRjoA',
 'NlSMxLoAFaAGba6veFaKyw',
 'OvJgitvCHMgmLuoW97kzfw',
 '__AB6oytCW4hD2Jca02kRA',
 'VyAd6PulpgJRsbMEFqoI2A',
 'cwPyxA58P6Lxef0gOP3RcA',
 'VogFhW9pRLuT6dDjLA1BcQ',
 'V6x2MKCmFcPkOzY3vC4BwA',
 'dv4yKRAKfvPGiMqpsSwH6Q',
 'rE9X9bRStJHLNW3--YpBgA',
 '_Mf6thZ3iq30UP8tnkYeRg',
 'TKOaoUkbZ1kw4DVa02gCTQ',
 'bliETqSXwJ9_I0yR4R5prw',
 'iivbJVE6W4pUXcLrWhc1og',
 '69k7MF2-nXq-tNNHrJYONw',
 'GQaSzSnRu6VDJNEv6bzA0w',
 'QGEv5g3vzy-pO3VlcV6S0Q',
 '2wEnpf2eu98rcYc540UN3Q',
 'fjLJhvR3aGd812OsMcziCQ',
 '8lfRMOaf-DKRCHWsP6Y8PA',
 'NkO7yOwVCDsB8rWlyZfEUQ',
 'qmsdbXMG6DCNXEEZJz4d5g',
 '2VvIvL-Dyp6QTk0-KfYeDg',
 'U7esGceQIZ_1IG6Ib0c1lQ',
 'npJ1vyfzhaYdLghTaV8-rQ',
 'ztFGiRmX7HPoKMKbgkP17w',
 'o8XwYGCtUi-emGSxTkOECQ',
 '4rhH2r1lL7ujqnvTwZo--w',
 'IEDW_nZUl1OEq9qucwViRQ',
 'GwvqvW8qgLs7PZE3jA9kyA',
 'xEzE70uOYQtSrJ9vt1MFwg',
 '1mbaM5iZQxR3aN_YmnZeHQ',
 '4EOc-59TfTvJ1OEcOkZUmQ',
 'z_RyP9WuygubNj--wuwuUQ',
 'uOqGPkYmLYf0LoKn-TWr0A',
 '9MsMKG0v3NstaPqKGYFVOw',
 'NeY1bH6IKJxnn4YAixibsQ',
 'aMfVQdVbKJnZwdf-c1WNcQ',
 'pZPp4gWPJ46WyDxLCM2c3A',
 'ajeJQlYpzALo8WTe9gdxCQ',
 'ZGOuX60oNVHWjcnnCnXXMw',
 'aurl4I40YVQfQ8loOdgKCg',
 'w8Bmb4xGD0mnv5o5GRv6_w',
 'tGzu2uZYz0Yqh5F0H9jmFQ',
 'CsQnlcdKtUMcdOfShFF6VA',
 'pHoP6SXp7u1FpTPPmDCQWg',
 'knkbAti6oC4PFcxAMOHl1w',
 'u8AetejFjM4g2vfwaNHx7w',
 'fsXxYOQ80doP_QeM_ufgbA',
 'NhvTsB57cO0YR3v1TBP20g',
 '-urxhzobcJtOpgFAyaEIpA',
 't0oYRAK7fXCJlh9cNzzWSw',
 'hdoGmKdk42H7R7Ihe8U91A',
 '8jXmNMrGJ2acUG1R-D5e6w',
 'vl4uDnmI6lM9zBcAR--84w',
 'OseALGXEitLqnPNP85R4vw',
 'AtCY79kMP0edwciEqbQk6Q',
 'hPfiInYuyX9icAz3LEivnA',
 'mtjU2H7EbvkJ0gGjC8yG1A',
 'qg6TJc2izTA52XFHAxdVjQ',
 'fcpHrRopilvsBwUajFB5rw',
 '3SHGSF-UXdQRauHYNCTqQw',
 'Kl4eGVAUsed6e5ux6f3gnA',
 'dzB4Li-j_jIlxPou7NjiGA',
 '1q4qsF1MKccwxcuFEm_0Cw',
 '9UtZvfn_O1A7OWsaZfrzWg',
 'XiZNyEMpS09MgFCw1FykTg',
 'MFCj-66eWaMQjpnGc-779Q',
 'vdK-a7mOXdNWEL1-z01LQQ',
 'SoiacX2r2mvHqIh3GgRMUw',
 'KFAoYnkUVC-AJY22s8L9Iw',
 'WnUm6q-zuE6zkYxj1I-Q2w',
 'SZ7-z5W7u30Z2-N0rGPN9A',
 '_DvAGDt7KnXPvlY9kxWbiQ',
 'dLzOsIWpejQD4gVHoVcRGg',
 '373ZBNDhS4PJ6WF0JU6R7w',
 'zei_1WwpSGoPE40YbSGw-A',
 '9KOX3ODn4YrKm5-SC06tfg',
 '6mCQL2xxv114T7yFWbq9lw',
 'fyTVBPr_SrEU4kkqXcKq9w',
 'e69s41ql63rMY3HD5zuXBA',
 'WqWXnv0BkVDtCH-YMKudVA',
 '93qrwpRE4W3n7zwQTFUSqQ',
 'vPyB_H1wI36ifo1RC4QI4g',
 'QHiBlO_1_mkk80IrrKqpYw',
 'v7Wltwe8HKOcTAXwQlUOWg',
 'ImDiJvfok1nvW3ZQB_foFw',
 'kxwo6aBZp_sG6Ea5rhiwCg',
 't1KiSVmxADW1LaxA2Wtj9g',
 'm6Q6z3SAkXVdidNqiKmBrQ',
 'hXL6oSqDFIp8DWQzR35QKQ',
 'X3Qa-dXb2DFdZZ2UnAfSVg',
 'xGBHv5kA1Cm4eYyqzxy7Kw',
 '7BedZ4I6K8lNZca0WAb5JA',
 'LRcDPus5f9lm5luwI293yg',
 'UMdy-hcoLE5-zLgCrURvXQ',
 'ZVkrLNK2Z6zSeCn4U9A7rg',
 'gZkT5f8_7-J5dQQJQgnY5w',
 'lra3ButUZm7ZymM1YSnkWA',
 '29mQNZv8dsN8IAJ8uBnjUw',
 'gHPS6jy5UzfVUDLUE74Y-A',
 '5tSloJbLGvllqnn9neahLw',
 'DrjRjaQpZJAVFFR68_xq0g',
 'olqTsVDufyeaqXx585Uv2Q',
 '2AqEWqRbKhcY-30b9geCRQ',
 'wMJlbZt2vOTG_FV96gkRVA',
 'C73iFAmwEntIONkbd5fOuA',
 'T1a5ODI7B19pLQVdBIs8Gg',
 'bcG5ySKHYxP0NtqCewbcCQ',
 'adnX5nTg3I_MTrThVkwmQw',
 'tSfeCQ9uasc5hlPu5gjGhA',
 '3lLHM-cAPU5VwJC7u7581Q',
 '5TeMk9SftHUbhQCTevsfhw',
 'kg8N1PNJM5cJmSkafUZ0Ug',
 'xPzOhS14gf30VOmwCFV2SQ',
 'bwlHQiKk7EACbEZC5T3r7g',
 'fI8StEUxDaZYWiMss8gS4Q',
 'Ifw5wqcChnL4zBigtR7NKA',
 '7OrS8FzIChQmkVgTxOew6w',
 'JlHNxO9N-jJ-jbb7Q3rcgw',
 '_EwuYl6cv4td1Mud68U-qg',
 'L1fzSv_CUSIwYCIptXEEzw',
 'R2WxD1Zz-gSAy9KAgqAWww',
 '7IdIGemGZodDAA_9mJCigA',
 'WGi0TF5ne7mRaP1EFW6NDA',
 'UT6RNEKJj6OZMnSwZprXTw',
 'HDNeRsScQG_YQevwNPOcJQ',
 'rpbACUkHJYSnvP6s0myyLg',
 'myP8iCXCfLec9fX_JSN5sw',
 'Q5gW8CA-IKGeb_hFjzJGKQ',
 'Oun4NN-u5yiHIxDqtJnxgA',
 'fslYwpS7jm6QQW2rj7LtYA',
 'h81N-kVGvV9f_PWJQJN9YA',
 '-dwqsjGDBnzzv2qQYyIC3g',
 'PQkJ5J8Qilol-JIhu-alhA',
 'wEkvzwQqT1yxpPf0VtlGWw',
 '7MTytl2V2lQEIG2lYdL3pg',
 '4Ov_guQ00bjKEviGGVAv_w',
 'FDeHDpcRHrs9L6UxRSnGJA',
 's5JS2bdPHrGK_6s472gKag',
 'oedpwDDecYF8bc9B3c7UgQ',
 'G047PcbKKb0YHwtpfZE8yg',
 'B3zVuUj0SWwaL91V2Bv4LQ',
 '4KV4bDVKzUCLrnIHgJKfNg',
 'C9UylQTOh7uwZo4a7QhLyg',
 'Qe754CEFSvHiMHw1WGp1lg',
 'Nre140uX7xbHK2W80kzO6A',
 'woWjkq0PyNa21FAJHUBnVg',
 'iWxFyXOSvDoFomwA8X_UEA',
 'wYmOLW9oiuwPbk0H9u5_UA',
 'AU5C7IX0mogLK32u2EEOBQ',
 'FaPv78tmIKDhDxdos_KbZg',
 'eFvzHawVJofxSnD7TgbZtg',
 'uUgRgEdYbp4IPOUK2j-60Q',
 'Gw6LrMKOZPMI523pu5qIKw',
 '89OpC3gLfk1YiM9Ps5J11g',
 'BSArML9g8DF8ZinTwfZ6Vg',
 'oage7vZHEIACcK0BAD5ZhA',
 'gOLcG-FlUYYlr-_MrgnEpA',
 'v92xgVl-BH_pQM486ea-9g',
 'KlT5X_yK2tkCdKOyhxntrg',
 'cdxvl2qZNIVFWYCVWa_w5w',
 'th8tmnNQMTA4RxjJCD26fw',
 'zqisPpgCURrgLf4TVnI8RQ',
 'R3T_74k4uj2R6chmCruY1Q',
 'tYxU4XLamXzfX07tzJ08rg',
 '7woyk8bO9xtCoIMs-0wg1Q',
 'ZamMI0MqxBpobkTq2KiNRQ',
 'qWZT1X1w0Yn6uo-fbD1u0Q',
 'Xdzir62WKlSzeu4PMQtlBA',
 'U1zLm06-q4NaIcoOBYhj2Q',
 'O_Pnq77cn8PgTdq1ecd4nA',
 'dv4tx5H0-aPiIXSM2hJNhA',
 '7L6pFDZN7jR2KqrDuxy-ng',
 'oJFEyzqsJeCI0JxcEaQqJQ',
 'vtakhrFa2iGC-qhMM_heRw',
 '653f6iZMEg802PaS1Fol6A',
 '0Hfc9kXBJJAXk6XxDtoJMA',
 'r7sU7DuN2wM1OyjLHe6_pg',
 'DUgYFaHp1QBzPPGzOar2zg',
 'uQMRq6rY_swnxomvq8GWkw',
 'pvz29eujnzU4mkXnQ9czmQ',
 'YEf6E3pFPVK-hSiQVUarSg',
 'P-rEyB0Pdf45rBqQFI-9xw',
 'VEivTOTxSwKfFhvbVnJzqg',
 'RyMeRG1wGIMnj3LA1x6jLg',
 'VesJ3CG1EcAT_3Zu4vuwEQ',
 'ir8tx6USSa-jMHGKJ9DrPg',
 'i2TUxK2GGrXEhtb0jnrsCw',
 'C6bYsrtfWyU9rDcl1Kp3PA',
 'tEf_BkzhmPBrP5DzKKBPgw',
 'n4cmVwt-BMQaiRz85mNc1g',
 '_SbEMlRqC6vm9Xf_-iomHg',
 'F4QQydXjN5_N8KXHsgWsEQ',
 '2C6aSYi9UweePaU8m43tew',
 'NaGhOGk_YrM77ukbk_XVVA',
 'HjGbVi0hPd9ihw-BOA8NSw',
 'BOq6aYbFAyCYNv_7O2mIMg',
 'Okp9reNh6b53JwtjTlQAdw',
 'ESUwN81iNYvm0yqYCxSivg',
 'cundYjSe08elcGNRVypdig',
 'kwLQOE8IiKmx_ftzvWa2qw',
 '3QwQ6FAUi5i76gErx89dnA',
 'aGOXuqO6yhN66tLYI61Thg',
 'Qv-LXEAx6KYEWjXSqTBvAw',
 '6uJUJe5Le7UYr7R1mbiTkA',
 '3ZaYy2VND0-VUPc3DqBB_A',
 'eMcPPFGIngpYjxCYNwhd7Q',
 '6kx5nIZh9bQ_02_GOcE7bg',
 'wgcSbX3osqRibWW7pVyfww',
 'wAh1vhMQZBcjMbZds5Y0Xg',
 'LCMpkeQWHdCbuX0Nlkmeow',
 '0-CQlqMMOrwMhy4EgW4tfw',
 'Jcj9wXwRFS7B-YiaSAp4gA',
 'ro3mmznC6MEhzEw4osI-ww',
 'haQDlvoWQA1wTTkdcuWWTw',
 'h_6ioAoKNLi01kPhoGDArg',
 '7YYP4htx_BMjPw38OB98kg',
 'PSpXwP98W7ofZWYwkJSLCA',
 'GCw-1IoUo5NF9bBeOpM78w',
 'wWlllCtSiOyZfXWvMzZzfw',
 'WPzHKwDKyfYH0sWZLiksJw',
 '1p3trZSHZqVsk2uu3WAJow',
 '8ZzBxJV2QwWtltcX2xJW3w',
 '0OjhzrjRBIjmmi3NKlu3eQ',
 'tRn2eN0R9se9mnbYTiBWAw',
 'zdFtClHwczd2oREBs3S0Vg',
 '47sA_Kpa74IEPOIA_zFTeQ',
 'Mouxr49lzmaIoMc1Maq70g',
 '6sCF2c0_SuW7EACzhnEMrA',
 'dN_WiS41laKnG7MeVVOiBw',
 'VgGmMEc68H1ZB_mtk83Cgg',
 '3ggy9QFkslzxz0Hndgwbpg',
 'rVgflmjZVl0VxnQmIgqGfw',
 '1br2kePnacw59Dp7xuGjBQ',
 'Zu1dzuzdXcwhNQsq0wIrZQ',
 'BKFiIK83S7j_NNjOOAXYCw',
 'ZDoaXjfQ8-n3-DYU1lQ-yg',
 'zqsmGvH1aPMDFJB-jFNPwQ',
 'Dve6VC2YIrKdzRsMKU4flw',
 'cnFmnA26Zv5vfDF1apBC1A',
 'NS8R0jvMoomanPw7_A8quQ',
 'pX5QGQinFBRGhzWEucyukQ',
 't-F5Yqd9Eas4RfxY4BX7Yw',
 'yVMAB2riPEJWl0imyK2Hlg',
 'DNH6UNWlBFhOsIMGFabF1A',
 'y-LDFnnawAW2dBc4aF6OGQ',
 'wZzCtrD21D0R-ei2Ez5hYA',
 'MprLxg1hSp52tUp0ak9lAQ',
 'Z91AJRHmfcjqY5SJAKjiYA',
 'kJsojz_gDiwe3sHWd3yeig',
 'BJgTXSwHnCHY_HFMgbPdrA',
 'AJf_G2CKc1ZDC2NE4oj3rw',
 'Lv3Zjg1YT3Pk3NGhgRWDxQ',
 'JHZ9LdG-V9yEcmT2UiBeDQ',
 'I68BC7ULK1C7rujlbyIgxw',
 '_qdWW_AhhkW8jPs6HEtEfA',
 'ZWh4bJk5Upc1MN4WH8Mm_g',
 'fNjozYBX0X4ES3ME7WVgXQ',
 '9aTiHeFSRH-7KPbfREe_Dg',
 'N192346_vzNx5HHh2Ob12Q',
 '58ymukT9f64180fKzQIfew',
 '0YELKCY1VMIA3gmP2DkHSg',
 'kDmeq29jdwm-XatR2tCCYQ',
 'Cvd57Nek1j5Qm-ZJn2DSVw',
 'OCzo8T-76iJ_QVB2UX5SEQ',
 'B92uCw3374cpuHZSACv0YA',
 '4tgm6KADoZz_hbukxqK7sA',
 'Grh6dm_k-4kNvkxU8r7RMA',
 'pKhxmJ2tKwMKUtisimqgPA',
 '0_fd3nMhIVlJyLV76dTCAQ',
 'LKM0wL3GMsi8NwEdz-_n8w',
 '6uHasEJMm7k4ef0r2O7PbA',
 'Yl7UIESx3gl10kEwP0Djhg',
 'XUEP6erHkEWyGzR0j0rrvw',
 'eXgWA4x-yLqx2cYv56nS4Q',
 'xvcX_Q3YIReSthv9t3uDVg',
 '_sZBfAC03zAjksURnW8low',
 'WPeaBiE8WzLOjn5_w9ektQ',
 'catgj1WAPbrPMG7Jd7mDxg',
 'Im203DgoWCdkAx1qEY7DgA',
 'SDhiF9UG0gsuaXgCnJR-sQ',
 '6_aIv0CccDpcMk-kowG8Wg',
 'oqBex9UCSqUWL4VhkBpZAQ',
 'cGeQwV8BA-af5O5fjtGj7g',
 '7LuAJblbIdZzR8jr-CLCLg',
 '7-cD0S7vJlUOuTpF2vQLOQ',
 'LqpoPXU-4QijJJKmJCPhNw',
 '8Ck78FmeRO7W9iy1-5eCeg',
 '6F-6mFFNw2YXN7lD_Gukcg',
 'nEL3oEQEhOAI1o4Bzgkbnw',
 'rE5uySmc9eaADCXUaE0zEQ',
 'UVzAz-7WMmore8HX7D21FQ',
 'WHW-fLxXL3rCfqEptnucNw',
 'O1xeHZr6DdZEezlYRUeL9g',
 'gp7Po29ivBTKHZAgn_Hilg',
 '9S2vWcyH2L41YXdi1x4qWA',
 'xdG_RW_QsAGJbXp46M_V8w',
 'ePTpnoMhgB71H4uqsNLd-g',
 'X0lMkTXVs3PLcyKzQ6GTcw',
 'z_Esu8xXjlLL55kv3rzIww',
 '--epgcb7xHGuJ-4PUeSLAw',
 'cNfeKIYIv07oxqVozMbjpw',
 'gF3zgsbxbOIhV24uQCih8g',
 'CPEpeyhiD21wmKXhL-o1gQ',
 '-e03PAS1YpMAaxp86Hau7A',
 'iBtt-l0DeXf-sS97ug0sSg',
 'vwAhm3pRjCEz_jNXr9vMaA',
 'J5CxTCM9nL_s-qYByTiNgw',
 'CR_hm3-T9HEGGWTElXErRw',
 'fzftd8EhMnYCXE7D76zCrA',
 '8F75isJz4UF_5LFsyf80HA',
 'k41dv3Pjnx0fHgkoyEz4Jw',
 '5iWGiyNiiiRGvPah8mJJaw',
 'oMwgGoawoMEqvgcy2FKVug',
 'dv_AMvV9J-6qrke4BUQuEA',
 'dGlMJzK84qUU8zwdbjUjmw',
 'NIlAb8xuqKyvvqV9mwK6Hg',
 '-cXxMH_oL82mOK6MBAjOHA',
 'mw-Vn0mmSTYR1ZkQaHdeBQ',
 '6jNFUIKiCCKnLCpGJpkyrg',
 'UJQGJ0tlKO93Lia2JGidZA',
 'SuzwgDT71HxOccHXsBpJag',
 'wkIwr6GfkhoodGV-thcICg',
 'UYIr1d1zJr3jVYhXOoxyLg',
 '7dfl5-n6r_8EJVh811q9hQ',
 'doN8QSdGtlIAW7BP8afZEg',
 '8u30hH32rp4d3TnULZw9vQ',
 'CBXly4YEShOzxA6524BE3Q',
 'w2ReK1oQ9EUTgrN6Y0GSRw',
 'xM2zutXv11alems5TnlC5Q',
 'gq4zw-ru_rkZ2UBIanaZFQ',
 '1xOyqnO5FtxSLwRfT6mzPw',
 'MBpl7cTqlJblEj0E8qSS6g',
 'y9WUY6Gh3GcVqtXkDre3fA',
 '3xwv_lWddQZ2ms4I7uK53A',
 '8PKxsbyRIPfhe0KMiBYuyg',
 'jSAOaEVCfZkcDpg-yVJ_Ow',
 'pokplllvDH7X9-n_3IEj_Q',
 'eIDC_UAORw0frg030Nw4tA',
 '66pIa8VXmTQIHkMxMv_f0w',
 'LJeJ29ZQVwai3IGsHkso8Q',
 'crW3WgVBvfE14EzHD8jClA',
 'V2hqC0b1d6Yn0JMGg4DCPA',
 '3AFJwWG2OcGtRlJhhEbjKw',
 'enfQ1SHv5PpO_Pq8BvtCRg',
 'KEA0YPercPSPYh1JcpkV2A',
 'ZhcVjB2jA5nhzpTKjuR5cA',
 'vsM7RsJNrP6ukSgy1Ew5xA',
 'ZgqZAKHXZi5HoCRYcTh9Gw',
 '8ZHMr31oBElXmaqSmZJs2Q',
 '7Bq927oiZRlEVMqQSNR0Lg',
 'JhjHlvSgBqD-o8-ahT0ccA',
 'nEP-AgKGA_-sEpotsTIhjg',
 'rfsFB_Z4B-CNTBktcUEbmA',
 'f1NVemrQsrsp5k2eGiO8mg',
 '7rsdqP_j5s-x2OnFv_TrIg',
 'e1VzUnaKA3uSHhAxxI99aw',
 '_QQHhERJ1WVH05Vc8AJ1kQ',
 'DtE_filcjbtVPa3vHu96Hg',
 'phh8Fo60_xBmNXyvdovTbQ',
 'fFpmBqoq5lpCxfQ-UjuJeg',
 'SXqPjCaN6DL8lRzzZQ0O0A',
 'R722fDi0r2oamiWjbnRP2Q',
 'Cxh7HIPRhIr_DIetWp3jAg',
 '_oEolwACvc0oFQdd8yM6gA',
 'lA5BOb5Om5cn_dfwiOgbNg',
 'nEAxkQ4m0rbSAjD8mxaVrQ',
 '11_eIDfQ146e1J3CMPjpqA',
 'l-JQja1KoFdjaP8AJp_mvQ',
 'xYmyJQiCnsMdxHpMQomxqQ',
 'z00F0RSAGimvSU9IrTevOw',
 'oa4bCkow1hrF6pqQCT6EGQ',
 'JaHuWM3Tp1aG7NW66mhutw',
 'jJrXxt3eQvKVoCNaCaaXcw',
 'NBkrB_4GW4YYhopBhMtceA',
 'smhunYEIv0HjziHb7VSa7Q',
 'I8KMfyZoEqzLQtChv2X5fA',
 '-YljbQMbbTC9jwn8kOLitA',
 '2HkgsHiqWwEW9e44Vhw8DQ',
 '8EHiK59NngwSxjcTYAzywQ',
 'Oj3vZFPN5xh-MwK268WqLg',
 'sLw1rA-NK3vm4Pbvzczb8A',
 'uR--z40doqUJNP5WVsSKLQ',
 'Mu90i2c_9B5LOW4FpCWjEw',
 'g_0U8kzf5iTMJ-I9E3MWlA',
 'Tgq7FzfhLx97K5NBXGO5fA',
 'pnR9ex4IWiYrnexU6qNP9Q',
 'sPFVy3YI8viClkH08SPLeg',
 'kufdqqeufwSP6rgeIKLKAg',
 '1riuPe3T4qcDkYlmEPku_Q',
 'VySIi29-o4hl4Ry4dBIH7w',
 'LeXTkBfmJbGlG5VNLNLRyw',
 'noRCd744AD5cAT0nuq5Aaw',
 'fKP9ALt3WZ6WipB98eGIJg',
 'VZxyWuhu_wF1wqeZHo2uDg',
 'XK-mrAzh0cxD4U5Kmhy0fw',
 'uShHLfwPhalzCPxh5VwgUQ',
 'aNXw3PkXVt8ANwLyCfcmpg',
 'TtFwubbGIKnVsx-0pa7KiQ',
 '_3VCzu9a79nrU0YA-WvUCg',
 'Rq3Wjcg5ULV2yn-AwcmirA',
 'OMIG0o6Jy8mppFO8ry5u0Q',
 'VhVc_kxNStk6var7DTCf9g',
 'rgCh1nIqJUPRf8QJM_YjSA',
 'OAT5j2W8F5ypj0eDGH22Xg',
 '2YanqRyvO7nzfwi2SPQa7w',
 'j6TDQvbRoMszGR0hyaVxvw',
 'nJxCI5M1-stOtXyFrYhuxw',
 '3Rn91lErljcpt0sY31bXQw',
 'RGMPK0znWtlP6Sr9yHntsA',
 'e8bOuDRCsHOb5IqQrapT2Q',
 '0ERS4_k61Ea7VVunLcxlgA',
 '6vXFb9q_dfhI67hma3xRjA',
 'JpH5dhrs9nB-DEoX2dbZwQ',
 'XN6IctwNyZOvmlXCkmettw',
 'uaTq-_gVT8XWHdBfVPzsRg',
 '9tIP3Ey8swBpTlsHOQbvJw',
 'Dy4cmOkfS_2e4DNNBx3O9w',
 'jhSSiLwrq9t3Fij2pVlvug',
 'KBtJ98QUDu3LCESV33YxcA',
 '1kzNeQbACsnSGR0ubpsNbQ',
 'Gp29XKuYZEUGol2kwIUvmQ',
 '2jbu_xi_FEghI37kPG5LzA',
 'TS-NZ7L-hQtmcGDG79P2cw',
 '2Ax2c1Ok3bCa2CO-HKIzHQ',
 'zszv_H7xTUo6SjCebQbbGg',
 'cwzn8WC2mIUvC4DaXqhsSA',
 'UIxL3xxpmJ6LiOMdqbqFTw',
 'cwvpVlg5BE2XXRWTHe3p9w',
 'zaCX8VFkfunbp3yH60Zg_Q',
 'd9i5hq9hIjmp7RN2hsOTzQ',
 'dctMpMdLUMad1Umh4knaNg',
 'vIozkqGCcKZteMYouua5Cw',
 'c4x06huNhVp04VI_MUiQsw',
 '70vQqNfFTdA3FmqjFDnVfw',
 'P0u1f6ea6LsyB8m1CXXyNw',
 'BKvjZNKB5CKcVltuc-2T3Q',
 'QSA-x2bb3kum9QLFpy7vUg',
 'wcpL6sD6jKsBO0tbdK2KEA',
 'wJ3zqDpuxUKFtUWIVeAukg',
 'RPLPto1ejkyE8vsGOV5phg',
 'UPeIqSldWfA5M4gA--z-Yg',
 'RVIDySg190UzD4bipBqSOQ',
 'A1lAqN3SOaBLoo6NqVcy4Q',
 'VTOeRnkozjB4wLJhWhS3BA',
 'QwwNjAyC5I8inmb2lNYrAA',
 'YpGSRLzkk8UOCVzd0Dpo3Q',
 '__2LkeVwTuKar5AE95Idzw',
 'hoqITwtnCoz8x_2CcMylJg',
 'GiSQ8fXpAs3M9Y27BgEd4Q',
 'wIFiBEXMMtMuP9kgxYMQZA',
 'efVCzhiCt7bnlWzQyQlYYw',
 '5SIXBmfYWS2dVlIm5EER5w',
 'JJMMayeZruzAA_nKAYQTpA',
 'bBPrDU0lA1vgiQOlDhzuWw',
 'F-L_qhgCWukNYwjck9vwzw',
 '6g2-9mUquEDYw8y9KHJTzg',
 'e4hdGUQH8IX0Tcx1Aa3Ltw',
 'FKcQbzeClxbTAnAVJXx__w',
 'tDbF0IWQq-mHPi7OBla6eg',
 'k91vKZa8oDHGFEumLyI-KQ',
 'ZtZNEwpzAh0uKUKA1Gg-yw',
 'wY9y0cOAzNALZ7BELMwozQ',
 'dB0h6ULGQiFuhE2G3zh-uQ',
 'P-1Z19YDcmwpwEazmhJOvw',
 'HMyXpfUQud_7B0OsmBuNcg',
 'Vd0BRbtnhEfNkVNKTH86Bg',
 'OEeQTVPtrKq4kPqdIJLrKw',
 'RpY32D_zRYFQPYHlrkDi9Q',
 '_4g4EBJowOS_LXbyMB7DnQ',
 '1lWASQ_QiT_RFPEeSvyF5w',
 '3aG8idCwlP-loKf8_hxcRQ',
 'zYCrmx7qSuT-6ut1_F22iw',
 'G1vUqy1-vDsCbCFrZkFnuQ',
 'jqVyVd07PJnmOmEb0GOJtg',
 '8iiOtnFCXPsq4mbXd-L-Qg',
 'QZcLPdsNijgiqz-cds3efw',
 'E7mAwFPNhjNYXoeZh_jvVg',
 'yzz9gwayRptbwV7l5cHtRQ',
 'nJaofGlu3gAClv_1Kw5sUg',
 'hoNc_KStFGoPRvDq2oI8LQ',
 'yj0bwjpMvBuNgJ0IQIC8mQ',
 '03an5ytHalUpCjfN8vcjRA',
 'qpgkWql42qgW095udiCLYg',
 'WRh6AOkXFl1qtnlCYUUQ6Q',
 '9dTnpsb_tO25h44IAoeRjQ',
 '_CAtatmn5FKtMFXcyQyWdQ',
 '0KaePrBSRJwUQaHywCM5Zw',
 'MgoBAUgSv6UM6RNhwyV-MA',
 'kQhmw4RexXf6rfjpiysjkA',
 '45RduxnVKS8kB1sU_p2mUQ',
 'LVhlQGAochcp0amO6-OX-g',
 '4M_kLVDf0vq2dKoRcfkGCA',
 'bqT9LFxOiV9hr0361Ph8rA',
 'XS1wPZeULZtbiP1OsuHFwQ',
 'aF5m1YyHVh_sFoCgPVZT5g',
 'fKbrDP45PmhwvVkNx3Tuow',
 '_ljP8KWwMTSMOv_zGW6nBA',
 'qZF_3GegBnpVC4PjAHDrXg',
 'LZHiuorqSMLdTJoGCV-UIw',
 'M8Zxy5yP2XPXdeiGW3lUrA',
 'Vg48ETIyEP9MALSqfDLGmA',
 'HoXdBq2Puaj69d8z6lgiVw',
 'LA99Dl-b9r1nKIZ3gKC_og',
 'b4GPlPrcZLZY-TDvr8u3Ug',
 'CcaYQDslcBH_PA0wbwZtKQ',
 '9oJinxECxlSutUM0kBOixw',
 '0UYn-R_LF-V0KSlYFRi3PA',
 'W0QKIbOBpPDD56umLllxsg',
 '6BWcdOv10taQzy5BCVl2rw',
 'Mt85lqOEbMxKiokcnvI30g',
 'vJpRfwM1MT3gWjKBZf_9sw',
 '499j2YBfJuZLgNOk7SzFCA',
 'jo37YLQJyWhuKBdjlKpoAw',
 'TfP0dN1L88RcWyQzp2O7Eg',
 'LLx6iXXDWz205YXs6Puzdg',
 'haYikT8axUlLyNS7k-osng',
 'Tvn4DEIXkRm9QY_IQ_HJJA',
 'HiQwgtgkvkqJmZrCyF2jBQ',
 'r4Fb5mUHIhjjpGABPGitqA',
 'GU6AnPaDqYA7PYIS52CKEA',
 'UALJipwvpD-M-PzI9uALZA',
 'zZKnptPeSPSkza6SKq00HQ',
 '2gi23-n_4fTU11olohHxrg',
 'jcXkAf-4BSsDNVhTHn-fmg',
 'c14bGBk8b76o7No3fdbywQ',
 'zCglWMsODFnewijW7S5KwQ',
 'kUfUsNfgf0PFRH9d2bLSOA',
 'L24ouhO2blekpFZZXIgR9w',
 '8cGyreYTlXU87DfS8g4P7Q',
 'AlMozN7JtyrIDsyrgqRZzw',
 'ZLiOI7MPPzZYj8fA_7FFHg',
 '3qGQcQVEn8GYqkVXL-RS-Q',
 '62eQzOWKmzsIJnJN33vofQ',
 'LOpRqDGLGOKk__bc2-JbBA',
 'MbKhuO-4uYPc0NRZDRWoew',
 'p08wWg9hIsvun4l-cfuWRg',
 'Fr4HGxz8_s8BxY_fZdadzQ',
 '7R_LxvRPu3qMc8xMhP0POw',
 '6CkM4X2aKULL30r8KUZZEQ',
 '7cHJZ4Ex6svndoZBZR3Odg',
 '2f6NaQVGTM59OGvsdT9pxg',
 'Hpe-2Omu5-U3S2NrouHcdQ',
 'LyCOaz2ZyzRBMGfFD70rTQ',
 '8L0hQvh5JCg4G0jdZFmUFA',
 'w8tPAEM_iVxb45WBpa8vKw',
 'C1F_T3S2JpoTy5p8-1zHlw',
 'nEoi09FRw9sWqZGcJflI4g',
 'vKEYntrbl6aTZRPmYvpNFA',
 'bOmwhtsnOmtmCUL5Nau0yQ',
 'T3hRVrL3Yyy27iOvvKW8Ig',
 '_A4JgqZzr3rUsMgHfKer7Q',
 'YRBCEpAGjedZVC_6Dw8S0A',
 'EEA5AMRtpg8FsK92KU1U9A',
 '4eZ-elvoXx4m65uoz7ymzQ',
 'vJKxxr2auAsbmLfis-PJnw',
 'TaqnX_zA2mVthoG0tczc7A',
 'VPb3USr9Nm7JjtmsHPRo7g',
 'GMJEKAyjkpy-KJi6Q5bmZA',
 'ldczA2r_LlKSfbrGxt3ThQ',
 'klzsfhwQeBEIwM2_CpZMDg',
 'zi-QER97KRnFsZqr56mL1w',
 'bgpunP8z5y0YNc6a1qS1mA',
 '_6BPCsncWRTAXs-8B5PAow',
 'QzOagE4RbvOIjnajVS-spA',
 '-nwNPb3G-0L95igrhkvMtw',
 'Ro-ZV1n6JDkugoJLO97d6w',
 'Dr1IkcA-4PnDizTo8ODZfA',
 '0SZy4uieBzBzg54vRdAfgw',
 'XHKCS37UqU4cUoaKAuQ2pQ',
 'la1k3Qq-cUBZrTXyElb8QA',
 'LsPmM95HXEyvEYTgMI4Jew',
 'WEZkbLTkNE3ZSFRQ7WZ7LA',
 'qDHb_iuDuflIslhS49te0Q',
 'UPQ73-tadrbGkbzXamgAUA',
 'c5TgDR7ROgkwPMXxtGDiag',
 'd4GRmLdkPIsJBeOYE7fuqA',
 '9YXbsA9pZoiMqgRmWPhH9g',
 '1C1zjPi4rYwgGr8kD-1pwA',

In [32]:
#Vemos cuantos son
len(ids_modificar)

1419

In [47]:
#Los vemos en el dataframe de los restaurants
restaurants_yelp[restaurants_yelp['Id_Restaurant'].isin(ids_modificar)]

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Tipo,Atributos
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,MO,37207,36.208102,-86.76817,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'RestaurantsAttire': ''casual'', 'Restaurants..."
35,ppFCk9aQkM338Rgwpl2F5A,Wawa,Philadelphia,FL,19104,39.954573,-75.194894,"Restaurants, Automotive, Delis, Gas Stations, ...","{'Alcohol': 'u'none'', 'RestaurantsGoodForGrou..."
49,VZzivJEbmHItOxNXJB3SpA,Subway,Brentwood,TN,37027,36.026363,-86.789473,"Sandwiches, Fast Food, Restaurants","{'BusinessParking': '{'garage': False, 'street..."
130,aNXw3PkXVt8ANwLyCfcmpg,McDonald's,Lansdale,NJ,19446,40.263706,-75.317916,"Restaurants, Fast Food, Burgers, Food, Coffee ...","{'WiFi': 'u'free'', 'GoodForKids': 'True', 'Bu..."
224,A1lAqN3SOaBLoo6NqVcy4Q,McDonald's,Brandon,MO,33511,27.925332,-82.325395,"Sandwiches, Burgers, Food, Fast Food, Restaura...","{'RestaurantsGoodForGroups': 'True', 'Restaura..."
...,...,...,...,...,...,...,...,...,...
52160,aGOXuqO6yhN66tLYI61Thg,Jack in the Box,Tucson,NV,85719,32.287556,-110.96046,"Tacos, American (Traditional), Fast Food, Mexi...","{'DriveThru': 'True', 'Caters': 'False', 'Bike..."
52161,vDVTecHXPkKp9OkVXX_boA,Au Bon Pain,Philadelphia,PA,19103,39.955561,-75.169657,"Bakeries, Restaurants, Coffee & Tea, Food, Bre...","{'WiFi': 'u'free'', 'RestaurantsTakeOut': 'Tru..."
52226,3u5qUgOrgczTdCUhb0kKow,Verona Pizza,Upper Darby,FL,19082,39.967261,-75.289625,"Burgers, Salad, Pizza, Restaurants, Sandwiches","{'Alcohol': 'u'beer_and_wine'', 'DogsAllowed':..."
52277,sf_oQ62L8UEnOOLf00nNGA,Pizza Hut,Hermitage,MO,37076,36.193201,-86.614748,"Restaurants, Pizza, Fast Food, Chicken Wings, ...","{'RestaurantsTakeOut': 'True', 'GoodForKids': ..."
52281,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,Clifton Heights,TN,19018,39.925656,-75.310344,"Restaurants, Sandwiches, Convenience Stores, C...","{'BikeParking': 'True', 'BusinessAcceptsCredit..."

In [48]:
#Descartamos los duplicados
restaurants_yelp.drop(index=restaurants_yelp[restaurants_yelp['Id_Restaurant'].isin(ids_modificar)].index,inplace=True)
restaurants_yelp.reset_index(inplace=True,drop=True)
restaurants_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50867 entries, 0 to 50866
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id_Restaurant  50867 non-null  object
 1   Nombre         50867 non-null  object
 2   Ciudad         50867 non-null  object
 3   Estado         50867 non-null  object
 4   Cod_postal     50867 non-null  object
 5   Latitud        50867 non-null  object
 6   Longitud       50867 non-null  object
 7   Tipo           50867 non-null  object
 8   Atributos      50311 non-null  object
dtypes: object(9)
memory usage: 3.5+ MB

In [ ]:
# exportamos la data hacia Restaurantes

for index, row in restaurants_yelp.iterrows():
        cursor.execute("INSERT INTO dbo.Restaurantes (Id_Restaurante, Nombre, Ciudad, Estado, Cod_postal, Latitud, Longitud, Tipo, Atributos) values(?, ?, ?, ?, ?, ?, ?, ?, ?)", 
                  row.Id_Restaurante, row.Nombre, row.Ciudad, row.Estado, row.Cod_postal, row.Latitud, row.Longitud, row.Tipo, row.Atributos
                   )
    
    
cursor.commit()

print("Termine de ingresar datos")

In [49]:
#Definimos la funciÃ³n para realizar el reemplazo de los ids de los restaurants ya probada con el dataset de google
def cambioDeIndices (estado_df):
    for f in range(duplicados_yelp_df.shape[0]):
        reemplazador = duplicados_yelp_df['Conservar'][f]
        for c in duplicados_yelp_df['Cambiar'][f]:
            if estado_df[estado_df['Id_Restaurant']== c].index.size>0:
                for i in estado_df[estado_df['Id_Restaurant']== c].index:
                    estado_df.at[i,'Id_Restaurant'] = reemplazador
    return estado_df

In [50]:
#Filtramos el dataframe de las reviews
reviews[reviews['Id_Restaurant'].isin(ids_modificar)]

,Id_usuario,Id_Restaurant,Fecha,Rating,Resena
14,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,2014-11-12 15:30:27,5,My absolute favorite cafe in the city. Their b...
248,dMrmnopCJ0xxEuG7WMCtWw,_TANOcxwIOmQhk1mnXaj7w,2015-04-15 17:11:10,1,"Bummer, just moved to this area and this was m..."
378,xUhG4eI0M1KRvucUn0t19w,QSA-x2bb3kum9QLFpy7vUg,2017-03-27 02:34:49,2,"This is the McDonalds closest to my home, but ..."
395,9wymgENHBBOm9Tlx7xHy7A,HZtkTPfSshfRjpQR7x1Raw,2014-03-14 23:13:32,2,I didn't really like my sandwich I got here. I...
424,HlSzWDRcShtuUHImvGzq2g,7R_LxvRPu3qMc8xMhP0POw,2014-11-30 00:22:05,4,"Great service, food was ok.. Wish the soups w..."
...,...,...,...,...,...
4716007,LZ0tQOcyqwN7jAkVLPKS2w,V3YIe0PLC8Y0TJ0ncGo_mw,2018-12-24 03:50:13,1,me and my friends wanted to go to steak 'n sha...
4716118,_6Ce3agmBdr_Z75wltOMIw,rOh8NovXVn48p8I-ZYEpQA,2016-04-29 17:59:48,5,"Love, love, love this store. The kale ceasar i..."
4716132,n0ZW1vJE7qHjcapqR66j-A,J-HTokql9wMNBON6xyKLpg,2019-01-12 19:04:29,4,We picked up a 5 piece chicken tenders with ja...
4716262,GWMnxNyl8o-jN1Z1XXgSyw,PonvzvPupP_irRpcy37SzQ,2018-07-30 09:48:31,4,Decent brick oven pizza and the usual Italian ...
4716316,fIPotE0JgGQN-tqNkZt7Xg,K6hAv8V2cTuXQtU3VHAD6w,2010-11-07 11:13:33,5,I love this place! I used to order from here ...

In [39]:
#Vemos cuantos Ãºnicos son
len(reviews[reviews['Id_Restaurant'].isin(ids_modificar)]['Id_Restaurant'].unique())

1419

In [51]:
#Tomamos un id de ejemplo
reviews[reviews['Id_Restaurant']=='RGjzDIO6HlOU3Uo4IqVAww']

,Id_usuario,Id_Restaurant,Fecha,Rating,Resena
3443245,LEV9cg-X7MDk-APND2DVdg,RGjzDIO6HlOU3Uo4IqVAww,2020-11-19 18:10:47,1,I wish I could give this place no stars! I ord...
3470976,IottlU8kOZVmu0KizcpaLw,RGjzDIO6HlOU3Uo4IqVAww,2021-04-21 00:36:40,1,"The customer service was horrible, it was my f..."
3515740,m9yc45CMMdw_kfwGKqYnzg,RGjzDIO6HlOU3Uo4IqVAww,2021-10-01 03:40:24,5,I Ordered the seafood steak and it was amazing...
3519298,oPtjAFyz9fACz4nwRH-4fQ,RGjzDIO6HlOU3Uo4IqVAww,2021-03-24 12:14:31,5,"Had fried shrimp, seafood cheesesteak & sweet ..."
3567397,yrhVSn8LiepmCUAJ8AG1_Q,RGjzDIO6HlOU3Uo4IqVAww,2021-10-21 22:51:07,4,I ordered my food on the phone and it was done...

In [48]:
duplicados_yelp_df.head()

                Conservar                   Cambiar
0  x67huqR9qbjoodRBu3KWfg  [jOhRFAJYBHU3chGwg1e4_A]
1  CyKEqW5UjhPB2pMEPrUsYg  [RGjzDIO6HlOU3Uo4IqVAww]
2  -HMqisHgmwr4k8zwT3tp5Q  [_ElX5QsAd-CXxlW0vt8Ftw]
3  HWnfpi2vXDTNGTCSFd97PQ  [mzAFaxDgKEVhINViBlyWvA]
4  DcRfabRzYkddMEUFyPMBgw  [XkZwD46WcsAlbpg1inwbLQ]

In [52]:
#Realizamos el cambio
reviews = cambioDeIndices(reviews)
reviews['Id_Restaurant'].unique().size

50867

In [53]:
#Paso a ser 50.867. Tiene sentido. Vemos si se cambiÃ³ correctamente
reviews[reviews.index ==1770207]

,Id_usuario,Id_Restaurant,Fecha,Rating,Resena
1770207,OpXvt6P_Bn0ML0J2Mbjteg,X4mouE_cMiwbfyCPZ_K-FA,2017-12-26 10:20:10,5,KILLER ! so excited to have this restaurant in...

In [55]:
#Vemos cuantos usuarios hay
reviews['Id_usuario'].unique().size

1446031

In [56]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4716474 entries, 0 to 4716473
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   Id_usuario     object
 1   Id_Restaurant  object
 2   Fecha          object
 3   Rating         int64
 4   Resena         object
dtypes: int64(1), object(4)
memory usage: 179.9+ MB

In [57]:
#Se cambiÃ³ correctamente. Exportamos
reviews.to_csv('../Data/reviews_yelp.csv',sep=';',index=False,escapechar='\\')
#restaurants_yelp.to_pickle('yelp/restaurants_yelp.pkl')

Resumen:

* Cantidad de reviews: 4.716.474
* Cantidad de restaurants: 50.867
* Cantidad de usuarios: 1.446.031